/* PostCardの設定 */

.user-name{
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.card-title{
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.card-text{
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.user-img{
    max-width: 13%;
}

.user-info{
    align-items: center;
}

.button-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-item img {
    max-width: 65%;
    height: auto;
}




.tag{
    background-color: rgb(45 44 44);
    border: 0;
}

.tag_item{
    text-align: center;
}

.card-text{
    background-color: rgb(230, 228, 228);
}

.post_img{
    background-color: rgb(27, 27, 27);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.like_value{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
}

.button-item a{
    text-align: center;
}

.thumbnail_postimgs{
    position: static;
    display: block;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(230, 228, 228);
}

.carousel-inner .figure{
    margin-bottom: 0
}

.thumbnail_postimgs [data-bs-target]{
    width: 20%;
    opacity: 0.7;
}

.thumbnail_postimgs .active{
    opacity: 1;
}

.like_button{
    border: none;
    background: none;
    width: 100%;
    padding: 0;
}