body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Noto Sans JP", sans-serif;
}

footer {
    margin-top: auto;
}

.alert{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 22px;
}

.my-div-style {
    margin-top: 6rem;
}


.three-dot-leader {
    cursor: pointer;
    border: none;
    background: none;
    display: block;
    /* ボタン要素のサイズ */
    width: 40px;
    height: 40px;
  }
  
  .three-dot-leader .dot,
  .three-dot-leader .dot::before,
  .three-dot-leader .dot::after {
    display: block;
    position: absolute;
    border-radius: 50%;
    /* ドット1つのサイズ */
    width: 6px;
    height: 6px;
    /* ドットの色 */
    background-color: #333;
  }
  
  .three-dot-leader .dot {
    top: 0;
    right: 5%;
    bottom: 0;
    margin: auto;
  }
  
  .three-dot-leader .dot::before, .three-dot-leader .dot::after {
    content: '';
  }
  
  .three-dot-leader .dot::before {
    /* 上側ドットの位置 */
    top: -12px;
  }
  
  .three-dot-leader .dot::after {
    /* 下側ドットの位置 */
    top: 12px;
  }