.form-img-wrapper{
    display: flex;
    max-width: 100%;
    margin: auto;
}

#img_post1, #img_post2, #img_post3, #img_post4{
    width: 40%;
    margin: 2% 5%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#img_post1{
    background-image: url("/static/assets/img/img_icon.png");
}

#img_post2{
    background-image: url("/static/assets/img/img_icon.png");
}

#img_post3{
    background-image: url("/static/assets/img/img_icon.png");
}

#img_post4{
    background-image: url("/static/assets/img/img_icon.png");
}


#img_post1 input, #img_post2 input, #img_post3 input, #img_post4 input{
    display: none;
}