.profile-wrapper{
    border-bottom: 1px solid rgb(65 64 64);
}

.user-info{
    padding: 0;
}

.user-img-profile{
    max-width: 18%;
    padding: 0;
}

.profile-wrapper .user-name{
    font-size: 25px;
}

.profile-text{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
}

.profile-text{
    font-size: 15px;
    font-weight: 600;
    font-family: "Noto Sans JP", sans-serif;
}

.profile-text-bold{
    font-size: 18px;
    font-weight: 800;
    font-family: "Noto Sans JP", sans-serif;
}

.profile .btn{
    width: 100%;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 800;
}

.follow{
    color: rgb(33 37 41);
    background-color: white;
    font-size: 18px;
    border: 2px solid rgb(207 207 207);
}

.unfollow{
    color: white;
    font-size: 18px;
    background-color: rgb(33 37 41);
}

.btn-secondary{
    background-color: rgb(65 64 64);
    color: white;
}