{% extends "base.html" %}
{% load static %}
{% block title %}データアップロード{% endblock %}

{% block contents %}
<h3>都道府県ファイルアップロード</h3>
<form action="{% url 'travelog_app:csv_upload' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="都道府県ファイルを選択してください" name="csv_prefecture">
  <button type="submit" class="btn" name="button">アップロード</button>
</form>

<h3>市区町村ファイルアップロード</h3>
<form action="{% url 'travelog_app:csv_upload' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="市区町村ファイルを選択してください" name="csv_city">
  <button type="submit" class="btn" name="button">アップロード</button>
</form>

{% endblock contents %}
