{% extends 'base.html' %}
{% load static %}

{% block title %}投稿画面{% endblock %}

{% block contents %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/post_form.css' %}">
<script src="{% static 'script/post-form.js' %}"></script>
</head>

<div class="container my-div-style mt-3">
    <div class="row postimgform">
        <h2>投稿画像</h2>
        <form method="POST" enctype='multipart/form-data'>{% csrf_token %}
            <div class="form-img-wrapper">
                <label id="img_post1">
                    {{form.post_image1}}
                </label>
                <img id="preview">
                <label id="img_post2">
                    {{form.post_image2}}
                </label>
            </div>
            <div class="form-img-wrapper">
                <label id="img_post3">
                    {{form.post_image3}}
                </label>
                <label id="img_post4">
                    {{form.post_image4}}
                </label>
            </div>
    </div>
    <div class="row posttextform">

            <h2>投稿内容</h2>
            <div class="col-8 my-3">
                <label for="id_title" class="form-label"><span class="badge badge-required">必須</span>タイトル</label>
                {{form.title}}
            </div>

            <div class="col-11 my-3">
                <label for="id_comment" class="form-label"><span class="badge badge-required">必須</span>投稿本文</label>
                {{form.comment}}
            </div>
    </div>
    <div class="row posttextform">

            <h2>観光地情報</h2>

            <div class="col-8 my-3">
                <label for="id_country" class="form-label">国</label>
                {{form.country}}
            </div>

            <div class="col-8 my-3">
                <label for="id_prefectures" class="form-label">都道府県</label>
                {{form.prefectures}}
            </div>

            <div class="col-8 my-3">
                <label for="id_area" class="form-label">エリア</label>
                {{form.area}}
            </div>

            <div class="col-12 my-3">
            <button class="btn btn-primary w-100 submit-btn py-2 my-5" type="submit">投稿する</button>
            </div>

        </form>
    </div>

    <!--下部メニュー-->

<nav class="navbar navbar-expand navbar-light bg-light flex-row  border-top py-1 fixed-bottom">
    <div class="container-fluid">
        <ul class="navbar-nav w-100 nav-justified align-items-center">
          <li class="nav-item w-20 text-center">
            <a class="nav-link" href="{% url 'travelog_app:Home' %}"><img src="{% static 'assets/img/home-line.png' %}" alt="" width="50%"></a>
          </li>
          <li class="nav-item w-20 text-center">
            <a class="nav-link" href="{% url 'travelog_app:search' %}"><img src="{% static 'assets/img/search-line.png' %}" alt="" width="50%"></a>
          </li>
          <li class="nav-item w-20 text-center">
            <a class="nav-link" href="{% url 'travelog_app:create_post' %}"><img src="{% static 'assets/img/add-box-line.png' %}" alt="" width="80%"></a>
          </li>
          <li class="nav-item w-20 text-center">
            <a class="nav-link" href=""><img src="{% static 'assets/img/notification-line.png' %}" alt="" width="50%"></a>
          </li>
          <li class="nav-item w-20 text-center">
            <a class="nav-link" href="{% url 'travelog_app:profile' user.id %}"><img src="{% static 'assets/img/user-line.png' %}" alt="" width="50%"></a>
          </li>
        </ul>
    </div>
  </nav>
<div>
{% endblock %}