<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">投稿の削除</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>本当に削除しますか？</p>
                <div class="modal-footer">
                    <form method="POST">
                        {% csrf_token %}
                        <a class="btn btn-secondary submit-btn" href="{% url 'travelog_app:Home' %}" data-bs-dismiss="modal">キャンセル</a>
                        <button class="btn btn-danger submit-btn" type="submit" data-bs-dismiss="modal">削除する</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>